<div class="navbar">
  <div class="icon"></div>
  <div class="buttons">
    <button routerLink="/home">Home</button><br/>
    <!--a routerLink="/signin">Se connecter</a><br/>
    <a routerLink="/signup">S'enregistrer</a-->
    <button>Create fleet</button>
    <button>Join fleet</button>
  </div>
  <app-signin-signup-button *ngIf="!membersService.connected" class="signin-signup"></app-signin-signup-button>
  <app-logout *ngIf="membersService.connected" class="signin-signup"></app-logout>
</div>
