<a (click)="openModal(signinModal)">Sign In / Sign Up</a>
<dialog #signinModal (click)="closeModals()">
  <div class="dialog-child" (click)="$event.stopPropagation()">
    <app-signin></app-signin>
    <p>
      Need an account ? -
      <a (click)="openModal(signupModal)">Sign up !</a>
    </p>
  </div>
</dialog>


<dialog #signupModal (click)="closeModals()">
  <div class="dialog-child" (click)="$event.stopPropagation()">
    <app-signup></app-signup>
    <p>
      Already got account ? - 
    <a (click)="openModal(signinModal)">Sign in</a>
    </p>
  </div>
</dialog>