<a class="error">{{err}}</a><br/>
<form name="signupForm">
  <input type="text" name="user" placeholder="Name" [(ngModel)]="username">
  <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
  <input type="password" name="pass" placeholder="Password" [(ngModel)]="password">
  <input type="password" name="pass2" placeholder="Confirm password" [(ngModel)]="passcheck">
  <div>
    <div>
      <input name="rulesAccepted" type="checkbox" [(ngModel)]="rulesAccepted" id="rulesAccepted">
      <label for="rulesAccepted">
        I read and accepted <a routerLink="/rules">rules</a>.
      </label>
    </div>
    <div>
      <input name="cookiesAccepted" type="checkbox" [(ngModel)]="cookiesAccepted" id="cookiesAccepted">
      <label for="cookiesAccepted">
        I do accept cookies for the site needs.
      </label>
    </div>
  </div>
  <button (click)="signup()" type="submit">Sign up</button>
</form>